@import "fonts.scss";
@import "normalize.scss";
@import "modules/variables.scss";
@import "modules/custom.scss";
@import "modules/animation.scss";



.container {


    & > h2 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 64px;
        line-height: 109%;
        text-transform: uppercase;
        
    }
}


.index {
    &-body {
        position: relative;
    }
}

//ui 
.cta-button {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
   
    padding: 15px 30px;

   
    border-radius: 5px;

    transition: .2s ease;

    cursor: pointer;

    &.primary {
        border: 2px solid #00308c;
        color: #0038a5;
        background-color: #9AF95F;

        &:hover {
            transition: .2s ease;
            border: 2px solid #9AF95F;
            background-color: #0038a5;
            color: #9AF95F;
        }
    }   
}


// header
.header {
    width: 100%;
    position: absolute;

    z-index: 100;

    background: #0038a5;

    &__container {

    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        position: relative;

        padding: 30px ;

        
    }

    ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin-left:  82px;
        margin-bottom: 0;

        gap: 36px;

        @media (max-width:1380px) {
            margin-left: 0;
        }
        @media (max-width:1099px) {
            display: none;
        }

        a {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #fff;

            transition: .2s ease;

            z-index: 120;

            &:hover {
                transition: .2s ease;
                color: #faff00;

                text-decoration: underline;
                text-underline-offset: 5px;
                
            }
        }
    }

    &__burger {
        position: absolute;
        left: -60px;
        top: 28%;

        @media (max-width:1099px) {
            left: 8px;
        }
    }

    &__menu--mobile {
		width: 100%;
        background-color: #0038a5;
		transform: translateY(-1000px);

        z-index: 200;

		opacity: 0;
		position: absolute;

		transition: 1s ease;

		display: none;

        

		ul {
			list-style: none;

			display: flex;
			flex-direction: column;

			width: 100%;

			padding: 0;

			margin-bottom: 1px;

			li {
				border-bottom: 1px solid #9AF95F;
				padding: 0 0 8px;

				display: flex;

				a {
					display: flex;
					align-items: center;
					gap: 12px;

					color: #fff;
				}
			}
		}

		@media (max-width: 1199px) {
			display: flex;
		}

		&.visible {
			transition: 1s ease;
			opacity: 1;
			transform: translateY(0px);
		}
	}

    &__divider {
        width: 1px;
        height: 100%;
        background-color: #faff00;

        position: absolute;
        left: 80px;
        top: 30px;

        display: none;
    }

}


// hero
.hero {
    background: #0038a5;
    position: relative;

    height: 100dvh;

    @media (max-width:1099px) {
        height: 1000px;
    }

    &__container {
        height: 100dvh;

        @media (max-width:1099px) {
            height: 1000px;
        }

    }
    &__wrapper {
        position: relative;
    }
    &__logo {
        width: fit-content;
        position: absolute;
        right: 20px;
        top: 24px;

        z-index: 120;

        @media (max-width:1199px) {
            right: 32px;
            top: 28px;
        }   
        @media (max-width:991px) {
            right: 111px;
            top: 19px;
        }
        @media (max-width:568px) {
            display: none;
        }

        img {
            
            @media (max-width:1199px) {
                width: 150px;
            }
        }
    }                              
    &__img {

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            object-position: center;
        }

        &--main {
            position: absolute;
            z-index: 50;

            width: 800px;
            

            top: 14%;
            right: 35%;


            transition: 1s ease;

            @media (max-width:1660px) {
                width: 600px;
                top: 18%;
            }
            @media (max-width:1099px) {
                width: 500px;
                top: 13%;
                right: 25%;
 
                
            }
            @media (max-width:768px) {
                width: 350px !important;
                top: 19% !important;
                right: 29% !important;
            }
            @media (max-width:568px) {
                top: 16% !important;
                right: 21% !important;
            }
            @media (max-width:468px) {
                width: 300px !important;
                right: 21% !important;
                top: 16% !important;
            }
            @media (max-width:390px) {
                right: 14% !important;
            }

            // @media (max-height:899px) {
            //     top: 12%;
            //     right: 34%;
                
            // }
            @media (max-height:800px) {
                width: 567px;
                height: 279px;
                top: 22%;
            }
            // @media (max-height:800px) {
            //     right: 35%;
            // }
        }

        &--bg {
            position: absolute;
            z-index: 30;
            top: 20%;
            max-width: 600px;
            right: 0;
            left: 19%;
            margin: 0 auto;

            overflow: visible;


            @media (max-width:1660px) {
                top: 12%;
            }
            @media (max-width:1099px) {
                left: 29%;
                top: 7%;
            }
            // @media (max-height:899px) {
            //     top: 12%;
            // }
            @media (max-height:800px) {
                top: 8%;
                right: -3%;
            }
            @media (max-width:568px) {
                left: 31%;
                top: 4%;
            }

            svg {
                    
                overflow: visible;
                @media (max-width:1099px) {
                    width: 500px;
                }
                @media (max-height:800px) {
                    width: 400px;
                }
                @media (max-width:768px) {
                    width: 400px;
                }

                @media (max-width:768px) {
                    & > g {
                        &:not(:first-of-type) {
                            display: none;
                        }
                    }
                }
            }


            &.desktop {
                @media (max-width:468px) {
                    display: none;
                }
            }
            &.mobile {
                display: none;
                @media (max-width:468px) {
                    display: block;
                    left: 9%;
                    top: 11%;
                }
                @media (max-width:374px) {
                    left: -4%;
                }
            }
        }
    }

    &__blob {

        &--1 {
            position: absolute;
            top: 0;
            right: -64px;

            z-index: 110;

            // @media (max-height:899px) {
            //     right: -48px;
            // }
            @media (max-width:1199px) {
                right: -130px;
            }


            &.desktop {
                @media (max-width:991px) {
                    display: none;
                }
            }

            &.mobile {

                @media (max-width:991px) {
                    right: -94px;
                    top: -20px;
                }
            }
            
        }

        &--2 {
            position: absolute;
            left: -52px;
            bottom: -200px;
            z-index: 10;

            // @media (max-height:899px) {
            //     left: -92px;
            // }
            @media (max-height:799px) {
                bottom: -400px;
            }

            &.desktop {
                @media (max-width:991px) {
                    display: none;
                }
            }

            &.mobile {
                display: none;
                @media (max-width:991px) {
                    display: block;

                    bottom: 200px;
                    left: -141px;
                }
                @media (max-width:676px) {
                    bottom: 420px;
                }
                @media (max-width:390px) {
                    left: -136px;
                }
            }
        }

        &--3 {
            position: absolute;
            right: -124px;
            bottom: 7px;

            &.mobile {
                display: none;

                @media (max-width:991px) {
                    display: block;
                }
            }
        }
    }

    &__date {
        position: absolute;
        left: -52px;
        bottom: 66%;

        z-index: 110;

        display: flex;
        gap: 12px;
        align-items: flex-end;
    

       
            
            transform: rotate(270deg);

        // @media (max-height:899px) {
        //     left: -14px;
        // }
        
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;

            margin: 0;

        }

        a {
           
            svg {
                transform: rotate(90deg);
            }
        }


        &-mobile {
            position: absolute;
            width: 100%;
            bottom: 45%;

            right: 0;
            justify-content: center;
        

            display: none;

            @media (max-width:1099px) {
                display: flex;
            }
            
            p {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 16px;
                text-transform: uppercase;
                color: #fff;    

                z-index: 10;
                margin-bottom: 0;
            }
        }
    }

    h1 {
        
        z-index: 90;
        position: absolute;

        font-family: var(--font-family);
        font-weight: 700;
        font-size: 94px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;

        text-shadow: 0 4px 20px  #000;

        display: flex;
        width: 100%;
        right: 0;
        justify-content: center;

        bottom: 32%;

        @media (max-width:1660px) {
            bottom: 33%;
        }
        @media (max-width:1380px) {
            font-size: 82px;
        }
        @media (max-width:1199px) {
            font-size: 72px;
            bottom: 38%;
        }
        @media (max-width:1099px) {
            bottom: 52%;
        }
        @media (max-width:768px) {
            font-size: 42px;
            bottom: 59%;
        }
        @media (max-width:568px) {
            
        }
        @media (max-width:468px) {
            font-size: 36px;
            bottom: 61%;
        }
        @media (max-width:390px) {
            font-size: 32px;
        }
        @media (max-width:374px) {
            font-size: 26px;
        }


        // @media (max-height:899px) {
        //     bottom: 31%;
        // }
    }

    .cta-button {
        position: absolute;
        bottom: 25.5%;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: fit-content;
        z-index: 140;

        @media (max-width:1660px) {
            bottom: 32.5%;
        }
        @media (max-width:1199px) {
            bottom: 35.5%;
        }
        @media (max-width:1099px) {
            bottom: 48.5%;
        }
        @media (max-width:768px) {
            bottom: 49.5%;
        }
        // @media (max-height:899px) {
        //     bottom: 29.5%;
        // }
    }

    &__tips {

        display: flex;
        position: absolute;
        bottom: 82px;
        align-items: flex-end;
        justify-content: center;
            z-index: 20;
        gap: 32px;

        width: 100%;
        right: 0;

        @media (max-width:1199px) {
            
            gap: 8px;
        }
        @media (max-width:1380px) {
            bottom: 42px;   
        }
        @media (max-width:768px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            bottom: 15% !important;

            gap: 24px;
        }

        @media (max-height:899px) {
            bottom: 42px;
        }


        &--tip {
            display: flex;
            flex-direction: column;
            gap: 24px;

            max-width: 200px;
            height: 100%;

            align-items: center;

            flex-shrink: 0;

            @media (max-width:768px) {
                flex-direction: row;
                max-width: 250px;
            }
            @media (max-width:567px) {
                
            }

            &:nth-child(2) {
                gap: 12px;
            }

            svg {
                flex-shrink: 0;
            }

            p {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 0.01em;
                text-align: center;
                color: #b3b3b3;

                margin: 0;

                @media (max-width:1199px) {
                    font-size: 14px;
                }

                @media (max-width:768px) {
                    text-align: left;
                }
            }
        }
    }

    &__video {

        &-link {
            position: absolute;

            right: 62px;
            bottom: 82px;

            display: flex;
            gap: 24px;
            z-index: 120;

            cursor: pointer;

            @media (max-width:1280px) {
                margin: 0;
                width: 100%;
                right: 0;
                justify-content: center;
                bottom: 160px;
            }
            @media (max-height:700px) {
                bottom: 138px;
            }
            @media (max-width:768px) {
                bottom: 6% !important;
            }

            &:hover {
                transition: .2s ease;
                p {
                    transition: .2s ease;
                    color: #9AF95F;
                    
                }

                svg {
                    transition: .2s ease;
                    transform: scale(1.2);

                    circle {
                        transition: .2s ease;
                        fill: rgb(154, 249, 95);

                    }

                    path {
                        transition: .2s ease;
                        stroke: #0038a5;
                        fill: #0038a5;
                    }
                }
            }
            
            svg {
                transition: .2s ease;
            }

            p {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 0.01em;
                text-align: left;
                color: #b3b3b3;

                transition: .2s ease;

                margin: 0;
            }

        }
    }
}

@keyframes translateArrowFirst {
    0% { transform: translateX(0); }
    100% { transform: translateX(10px); }
}

@keyframes translateArrowSecond {
    0% { transform: translateX(0); }
    100% { transform: translateX(20px); }
}

@keyframes translateArrowThird {
    0% { transform: translateX(0); }
    100% { transform: translateX(30px); }
}

.arrow-first {
    animation: translateArrowFirst 2s infinite alternate;
}

.arrow-second {
    animation: translateArrowSecond 2s infinite alternate;
}

.arrow-third {
    animation: translateArrowThird 2s infinite alternate;
}


// @keyframes pulse {
//     0% {
//         transform: scale(1);
//     }
//     50% {
//         transform: scale(1.1);
//     }
//     100% {
//         transform: scale(1);
//     }
// }

// #pulsing-element {
//     animation: pulse 12s infinite;
//     transform-origin: center;
// }




// about-index
.about-index {
    background-color: #fff;

    
    padding-top: 82px;
    
    position: relative;


    &__blob {

        &--1 {
            position: absolute;
            right: -18%;

            @media (max-width:1380px) {
                right: -11%;
            }
            @media (max-width:1099px) {
                right: -18%;
            }
            @media (max-width:767px) {
                right: -30%;
            }
            @media (max-width:676px) {
                display: none;
            }

            svg {
                @media (max-width:1380px) {
                    width: 300px;
                    height: 500px;
                }
            }
        }
    }

    &__container {

    }

    &__wrapper {

        max-width: 75%;
        margin: 0 auto;

        @media (max-width:767px) {
            max-width: unset;
        }

        h2 {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 64px;
            line-height: 109%;
            text-transform: uppercase;
            color: #00308c;    

            margin-bottom: 24px;
        }

        p {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            letter-spacing: 0.01em;
            color: #000;

            margin-bottom: 24px;

            span {
                color: #0038a5;
                font-weight: 700;
            }


        }
    }

    &__img {

        position: relative;
        bottom: -100px;

        z-index: 50;

        @media (max-width:567px) {
            bottom: -24px;
        }

        img {
            width: 100%;
            max-width: 800px;
            height: 600px;
            object-fit: contain;

            margin: 0 auto;

            display: flex;
            
        }
    }
}

// map-index 
.map-index {
    border-bottom: 5px solid #7b0700;
    border-top: 5px solid #7b0700;  
 
}


// buttons-index 
.buttons-index {

    position: relative;

    padding: 130px 0;

    @media (max-width:567px) {
        padding: 62px 0 0;
    }

    &__blob {

        &--1 {
            position: absolute;
            left: -17%;
            top: -82%;

            @media (max-width:767px) {
                left: -15%;
                top: -44%;
            }
            @media (max-width:567px) {
                display: none;
            }

            svg {
                @media (max-width:1380px) {
                    width: 400px;
                    height: 500px;
                }
                @media (max-width:1099px) {
                    width: 300px;
                    height: 400px;
                }
                @media (max-width:767px) {
                    width: 200px;
                    height: 300px;
                }
            }
        }
        
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 32px;

        @media (max-width:467px) {
            gap: 16px;
        }
        @media (max-width:374px) {
            flex-direction: column;
        }
    }
}

// faq section
.faq {
    background-color: #0038a5;

    overflow-x: hidden;

    position: relative;

    h2 {
        color: #fff;
        margin-bottom: 48px;
    }

    

    padding: 80px 0 180px;

    @media (max-width:567px) {
        padding: 42px 0 124px;
    }

    &__blob {
        &--1 {
            position: absolute;
            bottom: 10%;
            left: 0;
            z-index: 1;
        }
    }

    &__container {

    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 100px;

        z-index: 50;
        position: relative;

        @media (max-width:991px) {
            gap: 42px;
        }
        @media (max-width:767px) {
            
            flex-direction: column;
        }

    }

    &-question {

        &__list {
            display: flex;
            flex-direction: column;
            gap: 24px;

            width: 50%;

            @media (max-width:991px) {
                width: 66%;
                gap: 20px;
            }
            @media (max-width:767px) {
                gap: 18px;
                width: 100%;
            }
            @media (max-width:567px) {
                
            }
            
            &--item {
                display: flex;  
                gap: 24px;
                align-items: center;
                border-bottom: 1px solid #363543;
                padding-bottom: 24px;

                cursor: pointer;

                transition: .2s ease;

                &:hover {
                    transition: .2s ease;
                    
                    span {
                        transition: .2s ease;
                        background-color: #9af95f;
                        color: #0038a5;
                    }

                    h6 {
                        transition: .2s ease;
                        color: #fff;
                        opacity: 1;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                    }
                }

                h6 {
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 122%;
                    letter-spacing: 0.01em;
                    color: #fff;
                    opacity: .4;
                    
                    transition: .2s ease;

                    margin-bottom: 0;
                }

                span {
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 129%;
                    letter-spacing: 0.01em;
                    text-align: center;
                    color: #fff;

                    width: 32px;
                    height: 32px;
                    
                    flex-shrink: 0;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #9af95f;
                    border-radius: 50%;
                }

                &.active {
                    h6 {
                        transition: .2s ease;
                        color: #fff;
                        opacity: 1;
                    }
                }

                @media (max-width:991px) {
                    padding-bottom: 22px;
                    gap: 12px;
                }
                @media (max-width:767px) {
                    padding-bottom: 18px;
                }
            }
        }

        &__answer {
            position: relative;
            &--badge {
                position: absolute;
                left: -48px;
                top: -24px;



                @media (max-width:767px) {
                    top: -15px;
                    left: unset;
                    right: 0px;
                }


                svg {
                    // box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.85);

                    @media (max-width:767px) {
                        width: 50px;
                        height: 120px;
                    }
                }

                span {
                    position: absolute;

                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 46%;
                    letter-spacing: 0.01em;
                    color: #0038a5;

                    width: 100%;
                    height: fit-content;
                    display: flex;
                    justify-content: center;
                    margin-top: 50%;

                    @media (max-width:767px) {
                        font-size: 36px;
                    }
                }
            }
            &--block {
                

                transform: translateX(500px);
                opacity: 0;

                transition: .2s ease;

                position: absolute;
                top: 0;

                max-width: 500px;
                border-radius: 10px;

                background-color: #fff;

                flex-direction: column;
                gap: 32px;

                padding: 36px 54px;

                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.85);

                h6 {
                    margin: 0;

                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 122%;
                    letter-spacing: 0.01em;
                    color: #000;
                }

                p {
                    margin: 0;

                    font-family: var(--second-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 137%;
                    letter-spacing: 0.01em;
                    color: #88869a;
                }

                &.active {
                    transition: .2s ease;
                    opacity: 1;
                    transform: translateX(0px);

                    display: flex;
                    position: relative;
                }

                @media (max-width:767px) {
                    padding: 28px 28px;
                    max-width: 100%;
                }

            }
        }
    }
    
}


// news index
.news-index {
    padding-top: 62px;
    padding-bottom: 120px;

    h2 {
        color: #00308c;
        margin-bottom: 62px;

        @media (max-width:567px) {
            margin-bottom: 52px;
        }
    }

    &__wrapper {

    }

    &__slider {

        &__img {
            position: relative;

            transition: .2s ease;

            &:hover {
                transition: .2s ease;

                .news-index__slider__img--badge {
                    svg {
                        circle {
                            transition: .2s ease;
                            fill: #00308C ;
                        }
                    }
                }
                .news-index__slider__img--title {
                    transition: .2s ease;
                    
                    h5 {
                        transition: .2s ease;
                        
                    }
                }

            }

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(38, 37, 51, 0) 0%, #262533 94.35%);
                bottom: 0;
                left: 0;

                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                transition: .2s ease;

            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

                border-radius: 10px;
                box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.45);

                position: relative;

               
            }



            &--title {
                position: absolute;
                bottom: 24px;
                left: 24px;

                z-index: 10;
                
                h5 {
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 100%;
                    letter-spacing: 0.01em;
                    color: #fff;   

                    max-width: 180px;

                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    hyphens: auto;
                }
            }
            &--badge {
                position: absolute;
                bottom: 24px;
                right: 24px;

                z-index: 10;

                svg {
                    transition: .2s ease;

                    circle {
                        transition: .2s ease;
                    }
                }
            }
        }

        &__text {

            margin-top: 62px;
            padding-top: 24px;

            border-top: 1px solid #0038a5;


            @media (max-width:567px) {
                margin-top: 32px;
            }



            a {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 22px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #000;

                transition: .2s ease;

                    &:hover {
                        transition: .2s ease;

                        color: #00308C;
                    }

            }

            p {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 137%;
                letter-spacing: 0.01em;
                color: #000;

                margin-top: 18px;
                margin-bottom: 20px;
                
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            
            .more-link {
                a {
                    font-family: var(--second-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 137%;
                    letter-spacing: 0.01em;
                    color: #000;

                    transition: .2s ease;

                    &:hover {
                        transition: .2s ease;

                        color: #00308C;
                    }
                }
            }
        }
    }
}


// road
.roadmap {
    background-color: #0038A5;

    padding-top: 62px;

    @media (max-width:567px) {
        padding-top: 32px;
    }

    h2 {
        color: #fff;
        padding-bottom: 62px;

        @media (max-width:567px) {
            padding-bottom: 32px;
        }
    }

    &__container {

    }

    &__wrapper {

    }

    &__img {

        position: relative;

        &--map {

            @media (max-width:567px) {
                overflow: scroll;
            }

           img {
            object-fit: cover;
            width: 100%;
            height: calc(100% - 100px);

            @media (max-width:567px) {
                height: 1500px;
                width: 2000px;
                object-position: -500px;
            }
           }
        }

        &--badge {
            position: absolute;
            z-index: 10;
            bottom: -33%;
            left: -16%;

            @media (max-width:1380px) {
                left: -21%;
            }
            @media (max-width:1280px) {
                height: 600px;
                left: -17%;

            }
            @media (max-width:991px) {
                height: unset;
                position: unset;
            }


            img {
                width: 100%;
                height: 100%;

                @media (max-width:991px) {
                    background: #fff;
                    padding: 24px 42px;
                }
            }

        }
    }

}

// gallery
.gallery-index {
    background-color: #00308C;

    padding: 142px 0 124px 0;

    &__container {

    }
    &__wrapper {
        position: relative;

        .gallery-index__block--blob {
            position: absolute;
            bottom: -50%;
            left: -40%;

            z-index: -1;
        }
        
    }
    &__block {
        background-color: #0038A5;
        border-radius: 30px;

        padding: 152px 50px 50px 50px;

        position: relative;

        @media (max-width:1280px) {
            padding: 124px 42px 42px 42px;
        }
        @media (max-width:567px) {
            padding: 52px 42px 42px 42px;
        }

        &--mark {
            position: absolute;
            right: 20%;
            top: -25%;

            @media (max-width:567px) {
                top: -7%;
            }
            @media (max-width:467px) {
                top: -9%;
                right: 14%;
            }
            @media (max-width:374px) {
                top: -13%;
            }

            svg {
                @media (max-width:1280px) {
                    width: 150px;
                    height: 300px;
                }
                @media (max-width:567px) {
                    width: 100px;
                    height: 200px;
                }
            }
        }

        &--wing {

            &-left {
                position: absolute;
                left: -17%;
                top: 42px;

                @media (max-width:1280px) {
                    left: -14%;
                }

                @media (max-width:991px) {
                    left: -18%;
                }
                @media (max-width:767px) {
                    left: -24%;
                }
                @media (max-width:567px) {
                    left: -20%;
                }
                @media (max-width:374px) {
                    left: -24%;
                }

                svg {
                    @media (max-width:1280px) {
                        width: 150px;
                        height: 400px;
                    }
                    @media (max-width:567px) {
                        width: 100px;
                        height: 300px;
                    }
                }
            }
            &-right {
                position: absolute;
                right: -17%;
                top: 42px;

                @media (max-width:1280px) {
                    right: -14%;
                }

                @media (max-width:991px) {
                    right: -18%;
                }
                @media (max-width:767px) {
                    right: -24%;
                }
                @media (max-width:567px) {
                    right: -20%;
                }
                @media (max-width:374px) {
                    right: -24%;
                }

                svg {
                    @media (max-width:1280px) {
                        width: 150px;
                        height: 400px;
                    }
                    @media (max-width:567px) {
                        width: 100px;
                        height: 300px;
                    }
                }
            }
        }

        

        &--corner {

            &-left {
                position: absolute;
                left: -62px;
                bottom: -14%;

                @media (max-width:467px) {
                    display: none;
                }

                svg {
                    @media (max-width:1099px) {
                        width: 100px;
                        height: 200px;
                    }
                }
            }

            &-right {
                position: absolute;
                right: -62px;
                bottom: -14%;

                @media (max-width:467px) {
                    display: none;
                }

                svg {
                    @media (max-width:1099px) {
                        width: 100px;
                        height: 200px;
                    }
                }
            }
        }

        .ui-button {
            margin: 0 auto;
        }

        h2 {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 64px;
            line-height: 109%;
            text-transform: uppercase;
            color: #fff;

            margin-bottom: 62px;

            display: flex;
            justify-content: space-between;

            @media (max-width:567px) {
                flex-direction: column;
                gap: 12px;
                margin-bottom: 32px;
            }
        }
    }

    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        

        margin-bottom: 32px;

        justify-content: center;
        gap: 32px;

        @media (max-width:1440px) {
            justify-content: space-between;
        }
        @media (max-width:1099px) {
            gap: 18px;
        }
        @media (max-width:767px) {
            gap: 12px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width:567px) {
            grid-template-columns: 1fr;
        }

        &--img {
            display: none;

            img {
                border-radius: 30px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

                @media (max-width:767px) {
                    border-radius: 15px;
                }
            }

            &.visible {
                display: flex;
            }

            &.mobile {
                display: none !important;

                @media (max-width:767px) {
                    display: block !important; 
                }
            }
        }
    }

    &__date {


        display: flex;
        flex-direction: column;




        p {
            margin-bottom: 0;

            font-family: var(--second-family);
            font-weight: 700;
            font-size: 23px;
            line-height: 100%;
            text-transform: uppercase;
            text-align: right;
            color: #fff;

            @media (max-width:1280px) {
                font-size: 20px;
            }

            &:first-of-type {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 22px;
                line-height: 100%;
                text-transform: uppercase;
                text-align: right;
                color: #9af95f;

                @media (max-width:1280px) {
                    font-size: 18px;
                    margin-bottom: 4px;
                }
            }
        }
    }
}

.ui-button {
    
    &.red {
        
        width: fit-content;
        
       

        
        a {

            border-radius: 15px;
            box-shadow: 0 2px 10px 0 #151420;
            border: 5px solid  #7b0700;

            background-color: #D52A20;

            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: var(--font-family);
            font-weight: 700;
            font-size: 24px;
            line-height: 146%;
            letter-spacing: 0.01em;
            text-align: center;
            color: #fff;

            padding: 14px 40px;

            transition: .2s ease;

            &:hover {
                transition: .2s ease;
                background-color: #0038A5;
                border-color: #00308C;

                
            }

            @media (max-width:991px) {
                font-size: 20px;
                padding: 12px 30px;
            }
           
        }
    }

    &.blue {
        
        width: fit-content;
        
       

        
        a {

            border-radius: 15px;
            box-shadow: 0 2px 10px 0 #151420;
            border: 5px solid  #00308C;

            background-color: #0038A5;

            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: var(--font-family);
            font-weight: 700;
            font-size: 24px;
            line-height: 146%;
            letter-spacing: 0.01em;
            text-align: center;
            color: #fff;

            padding: 14px 40px;

            transition: .2s ease;

            &:hover {
                transition: .2s ease;
                background-color: #D52A20;
                border-color: #7b0700;

                
            }

            @media (max-width:991px) {
                font-size: 20px;
                padding: 12px 30px;
            }
           
        }
    }
}

// links-section
.links-section {

    position: relative;

    padding: 110px 0 62px;

    @media (max-width:767px) {
        padding: 82px 0 52px;
    }
    @media (max-width:467px) {
        padding-top: 32px;
    }

    &__blob {
    
        &--1 {
            position: absolute;
            bottom: -48%;
            left: -54%;

            @media (max-width:1439px) {
                left: -45%;
            }
            @media (max-width:1380px) {
                left: -21%;
                bottom: -30%;
            }
            @media (max-width:1199px) {
                left: -15%;
                bottom: -10%;
            }
            @media (max-width:991px) {
                left: -24%;
                bottom: -7%;
            }
            @media (max-width:567px) {
                left: -32%;
                bottom: -11%;
            }
            @media (max-width:467px) {
                left: -17%;
                bottom: -4%;
            }

            svg {
                @media (max-width:1439px) {
                    width: 1000px;
                    height: 1000px;
                }
                @media (max-width:1380px) {
                    width: 500px;
                    height: 500px;
                }
                @media (max-width:1199px) {
                    width: 300px;
                    height: 300px;
                }
                @media (max-width:467px) {
                    width: 150px;
                    height: 150px;
                }
                
            }
        }
        &--2 {
            position: absolute;
            right: -22%;
            bottom: -25%;

            @media (max-width:1279px) {
                right: -13%;
                bottom: -20%;
            }
            @media (max-width:1199px) {
                right: -8%;
                bottom: -18%;
            }
            @media (max-width:991px) {
                right: -14%;
                bottom: -11%;
            }
            @media (max-width:567px) {
                right: -25%;
            }
            @media (max-width:467px) {
                right: -10%;
                bottom: -8%;
            }

            svg {
                @media (max-width:1439px) {
                    width: 500px;
                    height: 900px;
                }
                @media (max-width:1279px) {
                    width: 300px;
                    height: 600px;
                }
                @media (max-width:1199px) {
                    width: 200px;
                    height: 500px;
                }
                @media (max-width:467px) {
                    width: 100px;
                    height: 300px;
                }
            }
        }
    }

    &__container {

    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 70px;

        @media (max-width:567px) {
            gap: 52px;
        }
        @media (max-width:467px) {
            gap: 42px;
        }
        @media (max-width:390px) {
            gap: 36px;
        }
    }
    

    &__block {
        padding-left: 32px;

        &--title {

            border-left: 2px solid #00308c;;

            padding-left: 32px;

            margin-bottom: 32px;

            @media (max-width:567px) {
                margin-bottom: 24px;
                padding-left: 24px;
                padding-right: 24px;
            }
            @media (max-width:374px) {
                padding: 0 18px;
                margin-bottom: 18px;
            }

            h3 {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 32px;
                line-height: 150%;
                text-transform: uppercase;
                color: #7b0700;

                margin: 0;

                @media (max-width:767px) {
                    font-size: 24px;
                }
                @media (max-width:567px) {
                    font-size: 22px;
                }
                @media (max-width:467px) {
                    font-size: 20px;
                }
                @media (max-width:390px) {
                    font-size: 18px;
                }
            }
        }
        &--button {
            
            a {
                display: flex;

                font-family: var(--second-family);
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #fff;
                
                padding: 18px 24px;
    
                background-color: #D52A20;
                border: 1px solid #7b0700;
                border-radius: 5px;
    
                width: 300px;
    
                margin-left: 32px;

                @media (max-width:567px) {
                    padding: 14px 20px;
                    font-size: 12px;
                    width: fit-content;

                    margin-left: 24px;
                }
            }
        }
    }
}

// docs 
.docs {
    background-color: #fff;

    padding-top: 32px;
    padding-bottom: 72px;

    h2 {
        color: #00308c;
        margin-bottom: 72px;

        @media (max-width:567px) {
            margin-bottom: 52px;
        }
    }

    &__container {

    }
    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width:991px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;
        }
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: 32px;

        max-width: 200px;

        transition: .2s ease;

        cursor: pointer;

        @media (max-width:991px) {
            max-width: unset;
        }
        @media (max-width:374px) {
            gap: 14px;
        }

        &:hover {
            transition: .2s ease;

            .docs__block--img {
                transition: .2s ease;
                background-color: #fff;

                svg {
                    transition: .2s ease;
                    transform: scale(.8);

                    path {
                        stroke: #0038a5;
                    }
                }
            }
            .docs__block--text {
                transition: .2s ease;
                text-shadow: 0 0 .5px #00000090;
            }
        }

        

        &--img {
            border: 5px solid #00308c;
            border-radius: 10px;
            
            width: 100px;
            height: 100px;

            background-color: #0038a5;    

            @media (max-width:767px) {
                width: 72px;
                height: 72px;
            }

            svg {
                transition: .2s ease;

                width: 100%;
                height: 100%;

                transform: scale(.6);
            }

        }
        &--text {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 137%;
            letter-spacing: 0.01em;
            color: #000;

            transition: .2s ease;

            @media (max-width:350px) {
                font-size: 14px;
            }
        }
    }
}





// footer
.footer {
    background-color: #00308c;;
    color: #fff;

    padding: 62px 0 0;

    h2 {
        color: #fff;
        margin-bottom: 42px;
    }
    a {
        color: #fff;

        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 122%;
        letter-spacing: 0.01em;
        color: #fff;

        transition: .2s ease;

        @media (max-width:991px) {
            font-size: 16px;
        }
        @media (max-width:768px) {
            font-size: 14px;
        }

        &:hover {
            transition: .2s ease;
            color: #faff00;
            text-decoration: underline;
            text-underline-offset: 5px;


        }
    }
    ul {
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        gap: 24px;

        li {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 122%;
            letter-spacing: 0.01em;
            color: #fff;

            @media (max-width:991px) {
                font-size: 16px;
            }
            @media (max-width:768px) {
                font-size: 14px;
            }
            
        }
    }

    &-top {
        padding-bottom: 72px;
    }
    &-bottom {
        background-color: #0038a5;
        padding: 14px 0;
        h6 {
            margin-bottom: 0;

            font-family: var(--second-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 122%;
            letter-spacing: 0.01em;
            text-align: center;
            color: #fff;
        }
    }

    &__container {
        
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width:768px) {
            flex-direction: column;
            gap: 24px;
        }
    }
}





// news-modal

.news-modal {
    h5 {
        font-family: var(--font-family);
        text-transform: uppercase;
    }
    p {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 137%;
        letter-spacing: 0.01em;
        color: #000;
    }
    .btn {
        font-family: var(--font-family);
        background-color: #0038A5;
        text-transform: uppercase;

        &-close {
            opacity: 1;
        }
    }
    img {
        width: 100%;
    }

}