@import "fonts.scss";
@import "normalize.scss";
@import "modules/variables.scss";
@import "modules/custom.scss";
@import "modules/animation.scss";



.container {


    & > h2 {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 64px;
        line-height: 109%;
        text-transform: uppercase;
        
    }
}


//ui 
.cta-button {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
   
    padding: 15px 30px;

   
    border-radius: 5px;

    transition: .2s ease;

    cursor: pointer;

    &.primary {
        border: 2px solid #00308c;
        color: #0038a5;
        background-color: #9AF95F;

        &:hover {
            transition: .2s ease;
            border: 2px solid #9AF95F;
            background-color: #0038a5;
            color: #9AF95F;
        }
    }   
}


// header
.header {
    width: 100%;
    position: absolute;

    z-index: 100;

    background: #0038a5;

    &__container {

    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        position: relative;

        padding: 30px ;

        
    }

    ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin-left:  82px;
        margin-bottom: 0;

        gap: 36px;

        a {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 0.01em;
            color: #fff;

            transition: .2s ease;

            z-index: 120;

            &:hover {
                transition: .2s ease;
                color: #faff00;

                text-decoration: underline;
                text-underline-offset: 5px;
                
            }
        }
    }

    &__burger {
        position: absolute;
        left: -60px;
        top: 28%;
    }
    &__divider {
        width: 1px;
        height: 100%;
        background-color: #faff00;

        position: absolute;
        left: 80px;
        top: 30px;

        display: none;
    }

}


// hero
.hero {
    background: #0038a5;
    position: relative;

    height: 100dvh;

    

    &__container {
        height: 100dvh;
    }
    &__wrapper {
        position: relative;
    }
    &__logo {
        width: fit-content;
        position: absolute;
        right: 52px;
        top: 52px;

        z-index: 120;
    }                              
    &__img {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &--main {
            position: absolute;
            z-index: 50;

            width: 667px;
            height: 379px;

            top: 27%;
            right: 35%;


            transition: 1s ease;
        }

        &--bg {
            position: absolute;
            z-index: 30;
            top: 20%;
            max-width: 600px;
            right: 0;
            left: 19%;
            margin: 0 auto;

            overflow: visible;

            svg {
                    
                overflow: visible;

            }
        }
    }

    &__blob {

        &--1 {
            position: absolute;
            top: 0;
            right: 0;

            z-index: 110;
        }

        &--2 {
            position: absolute;
            left: 0;
            bottom: -200px;
        }
    }

    &__date {
        position: absolute;
        left: -100px;
        bottom: 66%;

        z-index: 110;

        display: flex;
        gap: 12px;
        align-items: flex-end;
    

       
            
            transform: rotate(270deg);
        
        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;

            margin: 0;

        }

        a {
           
            svg {
                transform: rotate(90deg);
            }
        }
    }

    h1 {
        bottom: 25%;
        z-index: 50;
        position: absolute;

        font-family: var(--font-family);
        font-weight: 700;
        font-size: 94px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;

        text-shadow: 0 4px 20px  #000;

        display: flex;
        width: 100%;
        right: 0;
        justify-content: center;
    }

    .cta-button {
        position: absolute;
        bottom: 25.5%;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: fit-content;
    
    }

    &__tips {

        display: flex;
        position: absolute;
        bottom: 82px;
        align-items: flex-end;
        justify-content: center;
        
        gap: 32px;

        width: 100%;
        right: 0;

        &--tip {
            display: flex;
            flex-direction: column;
            gap: 24px;

            max-width: 200px;
            height: 100%;

            align-items: center;

            p {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 0.01em;
                text-align: center;
                color: #b3b3b3;

                margin: 0;
            }
        }
    }

    &__video {

        &-link {
            position: absolute;

            right: 62px;
            bottom: 82px;

            display: flex;
            gap: 24px;

            p {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 16px;
                letter-spacing: 0.01em;
                text-align: left;
                color: #b3b3b3;

                margin: 0;
            }

        }
    }
}

@keyframes translateArrowFirst {
    0% { transform: translateX(0); }
    100% { transform: translateX(10px); }
}

@keyframes translateArrowSecond {
    0% { transform: translateX(0); }
    100% { transform: translateX(20px); }
}

@keyframes translateArrowThird {
    0% { transform: translateX(0); }
    100% { transform: translateX(30px); }
}

.arrow-first {
    animation: translateArrowFirst 2s infinite alternate;
}

.arrow-second {
    animation: translateArrowSecond 2s infinite alternate;
}

.arrow-third {
    animation: translateArrowThird 2s infinite alternate;
}


// @keyframes pulse {
//     0% {
//         transform: scale(1);
//     }
//     50% {
//         transform: scale(1.1);
//     }
//     100% {
//         transform: scale(1);
//     }
// }

// #pulsing-element {
//     animation: pulse 12s infinite;
//     transform-origin: center;
// }




// about-index
.about-index {
    background-color: #fff;

    padding-top: 82px;

    &__container {

    }

    &__wrapper {

        max-width: 90%;
        margin: 0 auto;

        h2 {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 64px;
            line-height: 109%;
            text-transform: uppercase;
            color: #00308c;    

            margin-bottom: 24px;
        }

        p {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            letter-spacing: 0.01em;
            color: #000;

            margin-bottom: 24px;

            span {
                color: #0038a5;
                font-weight: 700;
            }


        }
    }
}





// faq section
.faq {
    background-color: #0038a5;

    overflow-x: hidden;

    position: relative;

    h2 {
        color: #fff;
        margin-bottom: 48px;
    }

    

    padding: 80px 0 180px;

    &__blob {
        &--1 {
            position: absolute;
            bottom: 10%;
            left: 0;
            z-index: 1;
        }
    }

    &__container {

    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 100px;

        z-index: 50;
        position: relative;
    }

    &-question {

        &__list {
            display: flex;
            flex-direction: column;
            gap: 24px;

            width: 50%;

            &--item {
                display: flex;  
                gap: 24px;
                align-items: center;
                border-bottom: 1px solid #363543;
                padding-bottom: 24px;

                cursor: pointer;

                transition: .2s ease;

                &:hover {
                    transition: .2s ease;
                    
                    span {
                        transition: .2s ease;
                        background-color: #9af95f;
                        color: #0038a5;
                    }

                    h6 {
                        transition: .2s ease;
                        color: #fff;
                        opacity: 1;
                        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
                    }
                }

                h6 {
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 122%;
                    letter-spacing: 0.01em;
                    color: #fff;
                    opacity: .4;
                    
                    transition: .2s ease;

                    margin-bottom: 0;
                }

                span {
                    font-family: var(--font-family);
                    font-weight: 700;
                    font-size: 17px;
                    line-height: 129%;
                    letter-spacing: 0.01em;
                    text-align: center;
                    color: #fff;

                    width: 32px;
                    height: 32px;
                    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #9af95f;
                    border-radius: 50%;
                }

                &.active {
                    h6 {
                        transition: .2s ease;
                        color: #fff;
                        opacity: 1;
                    }
                }
            }
        }

        &__answer {
            position: relative;
            &--badge {
                position: absolute;
                left: -48px;
                top: -24px;


                svg {
                    // box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.85);
                }

                span {
                    position: absolute;

                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 46%;
                    letter-spacing: 0.01em;
                    color: #0038a5;

                    width: 100%;
                    height: fit-content;
                    display: flex;
                    justify-content: center;
                    margin-top: 50%;
                }
            }
            &--block {
                

                transform: translateX(500px);
                opacity: 0;

                transition: .2s ease;

                position: absolute;
                top: 0;

                max-width: 500px;
                border-radius: 10px;

                background-color: #fff;

                flex-direction: column;
                gap: 32px;

                padding: 36px 54px;

                box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.85);

                h6 {
                    margin: 0;

                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 122%;
                    letter-spacing: 0.01em;
                    color: #000;
                }

                p {
                    margin: 0;

                    font-family: var(--second-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 137%;
                    letter-spacing: 0.01em;
                    color: #88869a;
                }

                &.active {
                    transition: .2s ease;
                    opacity: 1;
                    transform: translateX(0px);

                    display: flex;
                    position: relative;
                }
            }
        }
    }
    
}


// news index
.news-index {
    padding-top: 62px;
    padding-bottom: 120px;

    h2 {
        color: #00308c;
        margin-bottom: 62px;
    }

    &__wrapper {

    }

    &__slider {

        &__img {
            position: relative;

           

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgba(38, 37, 51, 0) 0%, #262533 94.35%);
                bottom: 0;
                left: 0;

                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;

                border-radius: 10px;
                box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.45);

                position: relative;

               
            }

            &--title {
                position: absolute;
                bottom: 24px;
                left: 24px;

                z-index: 10;
                
                h5 {
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 100%;
                    letter-spacing: 0.01em;
                    color: #fff;   

                    max-width: 180px;

                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    hyphens: auto;
                }
            }
            &--badge {
                position: absolute;
                bottom: 24px;
                right: 24px;

                z-index: 10;
            }
        }

        &__text {

            margin-top: 62px;
            padding-top: 24px;

            border-top: 1px solid #0038a5;



            h5 {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 22px;
                line-height: 100%;
                letter-spacing: 0.01em;
                color: #000;

                margin-bottom: 18px;
            }
            p {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 137%;
                letter-spacing: 0.01em;
                color: #000;

                margin-bottom: 20px;
            }
            
            .more-link {
                font-family: var(--second-family);
                font-weight: 400;
                font-size: 16px;
                line-height: 137%;
                letter-spacing: 0.01em;
                color: #000;
            }
        }
    }
}


// road
.roadmap {
    background-color: #0038A5;

    padding-top: 62px;

    h2 {
        color: #fff;
        padding-bottom: 62px;
    }

    &__container {

    }

    &__wrapper {

    }

    &__img {

        position: relative;

        &--map {
           img {
            object-fit: cover;
            width: 100%;
            height: calc(100% - 100px);
           }
        }

        &--badge {
            position: absolute;
            z-index: 10;
            bottom: -33%;
            left: -16%;

            img {
                width: 100%;
                height: 100%;
            }

        }
    }

}

// gallery
.gallery-index {
    background-color: #00308C;

    padding: 142px 0 124px 0;

    &__container {

    }
    &__wrapper {
        position: relative;

        .gallery-index__block--blob {
            position: absolute;
            bottom: -50%;
            left: -40%;

            z-index: -1;
        }
        
    }
    &__block {
        background-color: #0038A5;
        border-radius: 30px;

        padding: 152px 50px 50px 50px;

        position: relative;

        &--mark {
            position: absolute;
            right: 20%;
            top: -25%;
        }

        &--wing {

            &-left {
                position: absolute;
                left: -17%;
                top: 42px;
            }
            &-right {
                position: absolute;
                right: -17%;
                top: 42px;
            }
        }

        

        &--corner {

            &-left {
                position: absolute;
                left: -62px;
                bottom: -14%;
            }

            &-right {
                position: absolute;
                right: -62px;
                bottom: -14%;
            }
        }



        h2 {
            font-family: var(--font-family);
            font-weight: 700;
            font-size: 64px;
            line-height: 109%;
            text-transform: uppercase;
            color: #fff;

            margin-bottom: 62px;
        }
    }

    &__gallery {
        display: flex;
        justify-content: space-between;

        margin-bottom: 32px;

        &--img {

            img {
                border-radius: 30px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    &__date {
        position: absolute;

        display: flex;
        flex-direction: column;

        top: 22%;
        right: 50px;

        p {
            margin-bottom: 0;

            font-family: var(--second-family);
            font-weight: 700;
            font-size: 23px;
            line-height: 100%;
            text-transform: uppercase;
            text-align: right;
            color: #fff;

            &:first-of-type {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 22px;
                line-height: 100%;
                text-transform: uppercase;
                text-align: right;
                color: #9af95f;
            }
        }
    }
}

.ui-button {
    
    &.red {
        
        width: fit-content;
        
        margin: 0 auto;

        
        a {

            border-radius: 15px;
            box-shadow: 0 2px 10px 0 #151420;
            border: 5px solid  #7b0700;

            background-color: #D52A20;

            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            font-family: var(--font-family);
            font-weight: 700;
            font-size: 24px;
            line-height: 146%;
            letter-spacing: 0.01em;
            text-align: center;
            color: #fff;

            padding: 14px 40px;

            transition: .2s ease;

            &:hover {
                transition: .2s ease;
                background-color: #0038A5;
                border-color: #00308C;

                
            }
           
        }
    }
}

// links-section
.links-section {

    position: relative;

    padding: 110px 0 62px;

    &__blob {
    
        &--1 {
            position: absolute;
            bottom: -48%;
            left: -54%;
        }
        &--2 {
            position: absolute;
            right: -22%;
            bottom: -25%;
        }
    }

    &__container {

    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 70px;
    }
    

    &__block {
        padding-left: 32px;

        &--title {

            border-left: 2px solid #00308c;;

            padding-left: 32px;

            margin-bottom: 32px;

            h3 {
                font-family: var(--font-family);
                font-weight: 700;
                font-size: 32px;
                line-height: 150%;
                text-transform: uppercase;
                color: #7b0700;

                margin: 0;
            }
        }
        &--button {
            
            a {
                display: flex;

                font-family: var(--second-family);
                font-weight: 700;
                font-size: 14px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #fff;
                
                padding: 18px 24px;
    
                background-color: #D52A20;
                border: 1px solid #7b0700;
                border-radius: 5px;
    
                width: 300px;
    
                margin-left: 32px;
            }
        }
    }
}

// docs 
.docs {
    background-color: #fff;

    padding-top: 32px;
    padding-bottom: 72px;

    h2 {
        color: #00308c;
        margin-bottom: 72px;
    }

    &__container {

    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }
    &__block {
        display: flex;
        flex-direction: column;
        gap: 32px;

        max-width: 200px;

        transition: .2s ease;

        cursor: pointer;

        &:hover {
            transition: .2s ease;

            .docs__block--img {
                transition: .2s ease;
                background-color: #fff;

                svg {
                    transition: .2s ease;
                    transform: scale(.8);

                    path {
                        stroke: #0038a5;
                    }
                }
            }
            .docs__block--text {
                transition: .2s ease;
                text-shadow: 0 0 .5px #00000090;
            }
        }

        

        &--img {
            border: 5px solid #00308c;
            border-radius: 10px;
            
            width: 100px;
            height: 100px;

            background-color: #0038a5;    

            svg {
                transition: .2s ease;

                width: 100%;
                height: 100%;

                transform: scale(.6);
            }

        }
        &--text {
            font-family: var(--second-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 137%;
            letter-spacing: 0.01em;
            color: #000;

            transition: .2s ease;
        }
    }
}





// footer
.footer {
    background-color: #00308c;;
    color: #fff;

    padding: 62px 0 0;

    h2 {
        color: #fff;
        margin-bottom: 42px;
    }
    a {
        color: #fff;

        font-family: var(--second-family);
        font-weight: 700;
        font-size: 18px;
        line-height: 122%;
        letter-spacing: 0.01em;
        color: #fff;

        transition: .2s ease;

        @media (max-width:991px) {
            font-size: 16px;
        }
        @media (max-width:767px) {
            font-size: 14px;
        }

        &:hover {
            transition: .2s ease;
            color: #faff00;
            text-decoration: underline;
            text-underline-offset: 5px;


        }
    }
    ul {
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        gap: 24px;

        li {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 122%;
            letter-spacing: 0.01em;
            color: #fff;

            @media (max-width:991px) {
                font-size: 16px;
            }
            @media (max-width:767px) {
                font-size: 14px;
            }
            
        }
    }

    &-top {
        padding-bottom: 72px;
    }
    &-bottom {
        background-color: #0038a5;
        padding: 14px 0;
        h6 {
            margin-bottom: 0;

            font-family: var(--second-family);
            font-weight: 700;
            font-size: 18px;
            line-height: 122%;
            letter-spacing: 0.01em;
            text-align: center;
            color: #fff;
        }
    }

    &__container {
        
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width:767px) {
            flex-direction: column;
            gap: 24px;
        }
    }
}

